
.flex-container {
    padding: 10;
    margin: 0;
    list-style: none;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 100%;
  }
  
  .flex-item-contact {
    padding: 5px;
    height: 100px;
    color: white;
    font-weight: 100;
    font-size: 1em;
    text-align: center;
    width: 120px;
  }

.containerContact{
    height: 420px;
    background: rgb(245, 245, 245);
}




.letsWorkTogether  {
    position: relative;
    padding-bottom: 20px;
    margin-bottom: 50px;
    text-align: center;
    color: rgb(44, 44, 44);
    font-weight: 200;
    letter-spacing: 6px;
    padding: 30px;
    
}

.letsWorkTogether:after {
  content: '';
  background: black;
  width: 120px;
  height: 2px;
  display: block;
  margin: auto;
  margin-top:10px;
}


.socialLogo{
    margin: 0 auto;
	display: table;
}

#githubLogo{
    font-size: 5em;
    color: rgb(110, 110, 110);
    padding: 10px;
    
}

.contactEmail{
text-align: center;
margin: 0;
background: red;


}

.letsTalk{
    text-align: center;
    margin-top:10px;
    padding: 10px;
    color: rgb(58, 58, 58);
    font-family: sans-serif;
    letter-spacing: 2px;
    font-weight: 600;
    font-size: 30px;
}


#email{
    color: rgb(110, 110, 110);
    font-size: 1.em;
    font-weight: 100;
    letter-spacing: 2px;
    padding: 10px;
   
}



