
.containerPortfolio{
  background-color: rgb(30, 30, 30);
    padding: 40px;

}



.flex-container {
    padding: 0;
    margin: 0;
    list-style: none;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 100%;
  }
  
  .flex-item {
    background: #16f7ac;
    padding: 10px;
    width: 320px;
    height: 360px;
    margin-top: 10px;
    line-height: 150px;
    color: white;
    font-weight: 100;
    font-size: 2.5em;
    text-align: center;
    letter-spacing: 4px;
    font-family: sans-serif;
    border-radius: 10px;
  }

  .myPortfolio {
    position: relative;
    padding-bottom: 20px;
   
    text-align: center;
    font-weight: 200;
    letter-spacing: 6px;
    color: white;
}

.myPortfolio:after {
  content: '';
  background: white;
  width: 120px;
  height: 2px;
  display: block;
  margin: auto;
  margin-top:10px;
}

.websiteContainer{
  height: 250px;
  margin: 20px;
  margin-top:-20px;
  margin-bottom: 0;
  word-wrap: break-word;
  font-size: .5em;
  font-weight: 100;
  background: rgb(30, 30, 30);;
}


.websiteImage{
  height: 100%;
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 10px;

}

#firstImage{
  background-image: url("./images/moneyExchangePortfolio_macbookgold_front.png");
}

#secondImage{
  background-image: url("./images/jpmorganchase_macbookgold_front.png");
}
#thirdImage{
  background-image: url("./images/Screen\ Shot\ 2018-08-29\ at\ 12.21.37\ AM_macbookgold_front.png");
}

.websiteInfo{
  font-size: 10px;
  overflow: hidden;
  margin: 0;
  padding: 10px;
  display: none;
  background-color: rgb(209, 208, 208);
  height: 100%;
  border-radius: 10px;
  
}

.websiteInfo p{
  display: none;
  font-weight: 100;
  line-height: 20px;
  color: black;
}

.githubCode{
  float: left;
  width: 50%;
  text-decoration: none;
  color: rgb(48, 47, 47);
  font-size: 25px;
  margin-top: -40px;
  display: none;
 
}



.demo{
  float: right;
  width: 50%;
  font-size: 25px;
  margin-top: -40px;
  display: none;

}

.githubCode a, .demo a{
  color: rgb(46, 46, 46);
  font-weight: 400;
}