
.containerPortfolio{
    background: white;
    padding: 40px;

}
.flex-container {
    padding: 0;
    margin: 0;
    list-style: none;
    
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: space-around;

    height: 100%;
  }
  
  .flex-item {
    background: tomato;
    padding: 5px;
    width: 250px;
    height: 250px;
    margin-top: 10px;
    line-height: 150px;
    color: white;
    font-weight: bold;
    font-size: 3em;
    text-align: center;
  }

  .myProjects {
    position: relative;
    padding-bottom: 20px;
    margin-bottom: 50px;
    text-align: center;
    color: rgb(44, 44, 44);
    font-weight: 200;
    letter-spacing: 6px;
}

.myProjects:after {
  content: '';
  background: black;
  width: 120px;
  height: 2px;
  display: block;
  margin: auto;
  margin-top:10px;
}